body {
    background-color: rgb(0, 247, 255);
    text-align: center; 
}
h1 {
    font-size: x-large; color: red; text-align: center;
}

h2 {
    font-size: large; color: #000000
}

h3{
    font-size: medium; color: #ff9100
}

p{
    font-size: small; color: #000000
}

article{
    border: 15px solid rgb(255, 0, 0); width: 1480px; height: 600px; color: #000000
}
img{
    border-radius: 50px;
}

b{
    font-size: medium; color: red; 
}